<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Debug" internalLogFile="C:\temp\BackEnd.log" >

  <targets>
    <target xsi:type="AsyncWrapper"
          name="GeneralAsync"
          queueLimit="50000"
          batchSize="100"
          overflowAction="Block">
      <!-- 50Mb = 50*1024*1024 = 52428800 -->
      <target xsi:type="File"
              name="ToFile"
              fileName="${basedir}\Log\BackEnd.json"
              encoding="UTF-8"
              archiveFileName="${basedir}\Log\BackEnd.{#}.json"
              archiveNumbering="DateAndSequence"
              archiveEvery="Day"
              archiveAboveSize="52428800"
              createDirs="true"
              keepFileOpen="true"
              maxArchiveFiles="15">

        <layout xsi:type="JsonLayout">
          <attribute name="Time" layout="${longdate}" />
          <attribute name="Level" layout="${level:upperCase=true}"/>
          <attribute name="Logger" layout="${logger}"/>
          <attribute name="Message" layout="${message}"/>
          <attribute name="Exception" layout="${Exception:format=Message,Type,Method,StackTrace,Data:maxInnerExceptionLevel=10}" encode="false" escapeUnicode="true" />
        </layout>
      </target>
    </target>
  </targets>

  <rules>
    <logger name="*" enabled="true" minlevel="Debug" writeTo="GeneralAsync" />
  </rules>

</nlog>