@model FrontEnd.Models.UserLoginVm

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Login</title>
        <link href="~/Content/login.css" rel="stylesheet" />
        <link rel="icon" type="image/png" sizes="16x16" href="https://www.altran.com/as-content/themes/altran/images/favicon/favicon-16x16.png">
    </head>
    <body>
        <div class="login-block">
            <h1>Assessment</h1>
            <h3>Jose Luis Eiguren</h3>

            @using (Html.BeginForm("Login", "Users", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "ValSummary" })
                @Html.ValidationSummary(true, "", new { @class = "ValSummary" })
                @Html.TextBoxFor(m => m.Email, new { placeholder = Html.DisplayNameFor(n => n.Email), autocomplete = "off", autofocus = "autofocus" })

                <input type="submit" value="Log in" />
            }
        </div>
    </body>
</html>
