@{
    ViewBag.Title = "Clients Search";
}
<div id="page">
    <div class="filtros">
        <form id="frmFiltros">
            <input class="filtro" type="text" id="filterId" placeholder="Id Filter" tabindex=1 />
            <input class="filtro" type="text" id="filterName" placeholder="Name Filter" tabindex=2 />
            <input class="filtro filterEmail" type="text" id="filterEmail" placeholder="Email Filter" tabindex=3 />
            <br />
            <select class="filtro" id="filterRole" tabindex=4>
                <option value="" disabled selected>Role Filter</option>
                <option value="all">&lt;All&gt;</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
            <br />
            <input class="filtroApply" type="submit" value="Apply Filter" id="btnSearch" tabindex=5 />
        </form>
        <hr />
        <label class="filroLabel">Rows Per Page</label>
        <select id="filasPorPagina">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
        </select>
        <hr />
        <label class="filroLabel">Total Records: </label>
        <label class="filroLabel" id="totalregistros"></label>
        <br />
        <label class="filroLabel">Total Pages: </label>
        <label class="filroLabel" id="totalpaginas"></label>
        <hr />
        <label class="filroLabel">Actual Page: </label>
        <label class="filroLabel" id="paginaactual"></label>
        <br />
        <input class="filtroNextPrevButton" type="button" value="<" id="prevPage" />
        <input class="filtroNextPrevButton" type="button" value=">" id="nextPage" />
    </div>

    <div id="seachMessages" class="Centrado Message"></div>

    <div class="contentTable">
        <table class="Table col-md-12" id="tClientes">
            <thead class="thead">
                <tr class="tr">
                    <th class="th" id="colId"><a href="#">Id</a><i></i></th>
                    <th class="th" id="colName"><a href="#">Name</a><i></i></th>
                    <th class="th" id="colEmail"><a href="#">Email</a><i></i></th>
                    <th class="th" id="colRole"><a href="#">Role</a><i></i></th>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>
</div>
<script src="~/Scripts/App/Clientes.js"></script>
<script src="~/Scripts/Dto/OrdenamientoDto.js"></script>
<script src="~/Scripts/Dto/PaginacionDto.js"></script>
<script>
    var clientesSearch = new ClientesSearch($("#page"), $('#Loader'));
</script>
