@model FrontEnd.Dto.ClientDTO

@{
    ViewBag.Title = "Policies for Client: " + Model.Name;
}

<script src="~/Scripts/knockout-min.js"></script>

<div class="filtros">
    <form>
        <div name="image_input">
            <input class="filtro" type="text" placeholder=" Policy Id Filter" tabindex=1 data-bind="value: policyIdFilter, disable: isWorking" />
            <img class="imgInformation" src="~/Images/information81.png" data-toggle="tooltip" title="Search a Policy by Id" />
        </div>
        <div name="image_input">
            <input class="filtro" type="text" placeholder="Amount Filter" tabindex=2 data-bind="value: amountInsuredFilter, disable: isWorking"/>
            <img class="imgInformation" src="~/Images/information81.png" data-toggle="tooltip" title="Search all policies whose amount is equal to this filter" />
        </div>
        <div name="image_input">
            <input class="filtro" type="text" placeholder="Email Filter" tabindex=4 data-bind="value: emailFilter, disable: isWorking"/>
            <img class="imgInformation" src="~/Images/information81.png" data-toggle="tooltip" title="Search all policies whose emails start with this filter (no case sensitive)" />
        </div>
        <div name="image_input">
            <label class="filroLabelUp">Inception Date Filter</label>
            <input class="filtro filtroDate" type="date" tabindex=3 data-bind="value: inceptionDateFilter, disable: isWorking"/>
            <img class="imgInformation" src="~/Images/information81.png" data-toggle="tooltip" title="Search all policies whose inception date is equal to this filter" />
        </div>
        <div name="image_input">
            <label class="filroLabelUp">Installment Payment Filter</label>
            <select class="filtro"
                    tabindex=5
                    data-bind="options: installmentPaymentFilterValues, optionsValue: 'id', optionsText: 'value', value: installmentPaymentFilter, disable: isWorking">
            </select>
            <img class="imgInformation" src="~/Images/information81.png" data-toggle="tooltip" title="Search all policies who belong to this installment payment filter" />
        </div>
        <input class="filtroApply" 
               type="submit" 
               value="Apply Filter" 
               tabindex=5 
               data-bind='click: applyFilter, disable: isWorking'/>
    </form>
    <hr />
    <label class="filroLabel">Rows Per Page</label>
    <select data-bind="options: rowsPerPageValues, value: rowsPerPage, event:{ change: applyFilter}, disable: isWorking">
    </select>
    <hr />
    <label class="filroLabel">Total Records: </label>
    <label class="filroLabel" data-bind="text: totalRecords, disable: isWorking"></label>
    <br />
    <label class="filroLabel">Total Pages: </label>
    <label class="filroLabel" data-bind="text: totalPages, disable: isWorking"></label>
    <hr />
    <label class="filroLabel">Actual Page: </label>
    <label class="filroLabel" data-bind="text: actualPage, disable: isWorking"></label>
    <br />
    <input class="filtroNextPrevButton" type="button" value="<" data-bind='click: prevPage, disable: isWorking' />
    <input class="filtroNextPrevButton" type="button" value=">" data-bind='click: nextPage, disable: isWorking' />
</div>

<div class="Centrado Message" data-bind='text: messages, visible: messages().length > 0'></div>

<div class="contentTable">
    <table class="Table col-md-12" data-bind="visible: !isWorking()">
        <thead class="thead">
            <tr class="tr">
                <th class="th" 
                    data-bind="sort: { prop: 'id' }">Policy Id
                    <i class="fa" data-bind="css: { 
                       'fa-caret-up': ordenamientoCol() == 'id' && ordenamientoAsc() == true,
                       'fa-caret-down': ordenamientoCol() == 'id' && ordenamientoAsc() == false
                       }">
                    </i>
                </th>
                <th class="th"
                    data-bind="sort: { prop: 'amountinsured' }">
                    Amount Insured
                    <i class="fa" data-bind="css: {
                       'fa-caret-up': ordenamientoCol() == 'amountinsured' && ordenamientoAsc() == true,
                       'fa-caret-down': ordenamientoCol() == 'amountinsured' && ordenamientoAsc() == false
                       }">
                    </i>
                </th>
                <th class="th"
                    data-bind="sort: { prop: 'email' }">
                    Email
                    <i class="fa" data-bind="css: {
                       'fa-caret-up': ordenamientoCol() == 'email' && ordenamientoAsc() == true,
                       'fa-caret-down': ordenamientoCol() == 'email' && ordenamientoAsc() == false
                       }">
                    </i>
                </th>
                <th class="th"
                    data-bind="sort: { prop: 'inceptiondate' }">
                    Inception Date
                    <i class="fa" data-bind="css: {
                       'fa-caret-up': ordenamientoCol() == 'inceptiondate' && ordenamientoAsc() == true,
                       'fa-caret-down': ordenamientoCol() == 'inceptiondate' && ordenamientoAsc() == false
                       }">
                    </i>
                </th>
                <th class="th"
                    data-bind="sort: { prop: 'installmentpayment' }">
                    Installment Payment
                    <i class="fa" data-bind="css: {
                       'fa-caret-up': ordenamientoCol() == 'installmentpayment' && ordenamientoAsc() == true,
                       'fa-caret-down': ordenamientoCol() == 'installmentpayment' && ordenamientoAsc() == false
                       }">
                    </i>
                </th>
            </tr>
        </thead>
        <tbody class="tbody" data-bind="foreach: policies">
            <tr class="tr">
                <td class="td" data-bind="text: id"></td>
                <td class="td right" data-bind="text: amountInsured"></td>
                <td class="td" data-bind="text: email"></td>
                <td class="td" data-bind="text: inceptionDate"></td>
                <td class="td" data-bind="text: InstallmentPaymentToString()"></td>
            </tr>
        </tbody>
    </table>
</div>

<script src="~/Scripts/Globales.js"></script>
<script src="~/Scripts/App/CboInstallmentPayment.js"></script>
<script src="~/Scripts/Dto/PolicyDto.js"></script>
<script src="~/Scripts/App/PoliciesSearch.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    let ps = new PoliciesSearch('@Model.Id');
    ko.applyBindings(ps);
</script>
